body{
    background-color: rgb(28, 28, 28);
}
.windowRec{
    max-width: 700px;
    position: fixed;
    height: 700px;
    width: 40%;
    min-width: 500px;
    top: 100px;
    bottom: 50%;
    left: 30%;
    right: 30%;
    background-color: rgb(43, 44, 48);
    border-color: white;
    border-style: groove;
    border-radius: 20px;
}
.intro{
    font-size: 40px;
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
    font-family: 'Archivo Black', sans-serif;
    text-align: center;
    white-space: nowrap;
    color: white;
}
.email{
    font-size: 30px;
    top: 10px;
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
    font-family: 'Archivo Black', sans-serif;
    text-align: center;
    white-space: nowrap;
    color: green;
}
.move{
    font-size: 30px;
    top: 10px;
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
    font-family: 'Archivo Black', sans-serif;
    text-align: center;
    white-space: nowrap;
    color: white;
}
.newPassword{
    font-family: 'Archivo Black', sans-serif;
    width: 70%;
    height: 60px;
    border-radius: 15px;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 30px;
    text-align: center;
    font-size: 20px;
}
.secondNewPassword{
    font-family: 'Archivo Black', sans-serif;
    width: 70%;
    height: 60px;
    border-radius: 15px;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 30px;
    text-align: center;
    font-size: 20px;
}
.bt{
    width: 60%;
    height: 50px;
    border-radius: 15px;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 30px;
    background-color: deeppink;
    border: none;
    color: white;
    font-family: 'Archivo Black', sans-serif;
    text-shadow: black;
}
.checkPass{
    flex-grow: 1;
    height: 30px;
    margin-top: 10px;
    font-size: 20px;
    font-family: 'Archivo Black', sans-serif;
    text-align: center;
    color: red;
}
.checkConfimPass{
    flex-grow: 1;
    height: 30px;
    margin-top: 10px;
    font-size: 20px;
    font-family: 'Archivo Black', sans-serif;
    text-align: center;
    color: red;
}