<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Test</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Amatic+SC&family=Archivo+Black&family=Fredoka+One&family=Permanent+Marker&display=swap" rel="stylesheet">
    <link media="all" rel="stylesheet" type="text/css" href="/StyleAuntReg/TestPage.css">
</head>
<body>
    <div class="shapka">
        <div class="company">
                    <div class="logo">
                        <?xml version="1.0" encoding="utf-8" ?>
                        <svg baseProfile="full" height="80" version="1.1" viewBox="-0.5 -0.5 1.0 1.0" width="512" xmlns="http://www.w3.org/2000/svg" ><defs /><g fill="white" fill-opacity="0.75" stroke="black" stroke-linejoin="round" stroke-width="0.005"><polygon points="-0.0,0.38774 -0.14531,-0.10378 0.37235,-0.04509" /><polygon points="-0.0,-0.41374 0.37235,-0.04509 -0.14531,-0.10378" /><polygon points="-0.0,0.38774 -0.40348,0.04886 -0.14531,-0.10378" /><polygon points="-0.0,-0.41374 -0.14531,-0.10378 -0.40348,0.04886" /><polygon points="-0.0,0.38774 0.37235,-0.04509 0.17669,0.1262" /><polygon points="-0.0,-0.41374 0.17669,0.1262 0.37235,-0.04509" /><polygon points="-0.0,0.38774 0.17669,0.1262 -0.40348,0.04886" /><polygon points="-0.0,-0.41374 -0.40348,0.04886 0.17669,0.1262" /></g></svg>
                    </div>
                </div>
        <div class="ComName">
            <h1>CodeLore</h1>
        </div>
        <input class="search" type="text" name="search" placeholder="Search information">
        <input class="butSign" type="submit" value="Sign in">
    </div>
        <div class="window">
        <div class="sendvich">
            <div class="tests"></div>
            <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                 width="973.1px" height="973.1px" viewBox="0 0 973.1 973.1" style="enable-background:new 0 0 973.1 973.1;" xml:space="preserve"
            />
	<path d="M502.29,788.199h-47c-33.1,0-60,26.9-60,60v64.9c0,33.1,26.9,60,60,60h47c33.101,0,60-26.9,60-60v-64.9
		C562.29,815,535.391,788.199,502.29,788.199z"/>
    <path d="M170.89,285.8l86.7,10.8c27.5,3.4,53.6-12.4,63.5-38.3c12.5-32.7,29.9-58.5,52.2-77.3c31.601-26.6,70.9-40,117.9-40
		c48.7,0,87.5,12.8,116.3,38.3c28.8,25.6,43.1,56.2,43.1,92.1c0,25.8-8.1,49.4-24.3,70.8c-10.5,13.6-42.8,42.2-96.7,85.9
		c-54,43.7-89.899,83.099-107.899,118.099c-18.4,35.801-24.8,75.5-26.4,115.301c-1.399,34.1,25.8,62.5,60,62.5h49
		c31.2,0,57-23.9,59.8-54.9c2-22.299,5.7-39.199,11.301-50.699c9.399-19.701,33.699-45.701,72.699-78.1
		C723.59,477.8,772.79,428.4,795.891,392c23-36.3,34.6-74.8,34.6-115.5c0-73.5-31.3-138-94-193.4c-62.6-55.4-147-83.1-253-83.1
		c-100.8,0-182.1,27.3-244.1,82c-52.8,46.6-84.9,101.8-96.2,165.5C139.69,266.1,152.39,283.5,170.89,285.8z"/>
        </div>

    <div class="karusel">

        <div class="scrolRight"><svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="10px" y="10px"
	 viewBox="0 0 46 46" style="enable-background:new 0 0 46 46;" xml:space="preserve">
	<path style="fill:white;" d="M11.003,40.094c-1.338,1.352-1.338,3.541,0,4.893c1.336,1.35,3.506,1.352,4.844,0l19.15-19.539
		c1.338-1.352,1.338-3.543,0-4.895L15.847,1.014c-1.338-1.352-3.506-1.352-4.844,0s-1.338,3.541-0.002,4.893L26.706,23
		L11.003,40.094z"/>

</svg></div>

        <div class="scrolLeft"><svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="10px" y="10px"
	 viewBox="0 0 46 46" style="enable-background:new 0 0 46 46;" xml:space="preserve">
	<path style="fill:white;" d="M11.003,40.094c-1.338,1.352-1.338,3.541,0,4.893c1.336,1.35,3.506,1.352,4.844,0l19.15-19.539
		c1.338-1.352,1.338-3.543,0-4.895L15.847,1.014c-1.338-1.352-3.506-1.352-4.844,0s-1.338,3.541-0.002,4.893L26.706,23
		L11.003,40.094z"/>

</svg></div>


        <div class="blockJava">
            <p class="name">Java</p>
        </div>
    </div>


            <div class="windowTest">

                <div class="schetQuestion">
                    <div class="countTest" th:text = "${count}"></div>
                    <p class="slesh">/</p>
                    <div class="testSize" th:text="${testSize}"></div>
                </div>

                <div class="chapkaTest">
                    <img th:src="@{/img/card34.jpg}" class = "fonTest" alt="фон">
                </div>
                <div class="nameTest">Test on Java</div>


                <!--/*@thymesVar id="answers" type="com.makarproject.lessonsletscod.entity.Answers"*/-->
                <form class="testForm" name="test" th:action="@{/checkAnswer}" method="post">
                    <div class="question" th:text="${question}"></div>

                                        <p>
                                        <input class="an1" th:text="${var1}" type="radio" name="0" value="on">
                                        </p>
                                        <p>
                                            <input class="an2" th:text="${var2}" type="radio" name="1" value="on">>
                                        </p>
                                        <p>
                                            <input class="an3" th:text="${var3}" type="radio" name="2" value="on">>
                                        </p>
                                        <p>
                                            <input class="an4" th:text="${var4}" type="radio" name="3" value="on">>
                                        </p>

                    <input type="submit" value="Next>>" class="goNextQuestion">
                </form>

            </div>
    </div>
    <script type="text/javascript" src="/StyleAuntReg/js/TestForm.js"></script>
</body>
</html>